<div class="post">
  <div>
    <div>

      <div class="text-center mb-5 mt-3">
        <h1>{{ .Title }}</h1>
        <div class="post-meta">
          <time datetime={{ .Date.Format "2006-01-02T15:04:05Z0700" }} class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
        </div>
        <div class="mt-4">
          <h3><a href="/"><button type="button" class="btn btn-primary">Subscribe</button></a></h3>
          <small class="text-muted">You can subscribe by Email, RSS or Mastodon</small>
        </div>
      </div>

      <div class="text-justify post-content">
        {{ .Content }}
      </div>

      {{ partial "post_footer.html" . }}
    </div>
  </div>

  <!-- {{ partial "subscribe.html" . }} -->
</div>
