<div>
  <hr />
  <p>
    If you have any feedback, please let me know <a href="/about">by email</a> or by opening a ticket
    <a href="https://gitlab.com/bloom42/open_source_weekly/">on GitLab</a>!
  </p>
  <p>
    Follow <a href="https://social.kerkour.fr/@sylvain">@sylvain@kerkour.fr</a> on the Fediverse to never
    miss an issue.
  </p>

  <div class="text-center">
    <i><b><a href="/#past-issues" class="read-more-btn">Other issues</a></b></i>
  </div>

  <div class="text-center" style="margin-top: 20px">
    <h3><a href="/"><button type="button">Subscribe</button></a></h3>
    <small class="text-muted">You can subscribe by Email, RSS or Mastodon</small>
  </div>
</div>
