<div class="subscribe">
  <div>
    <noscript>
      <strong>We're sorry but Open Source Weekly doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>

    <div id="osw-alert"></div>
    <div class="spinner-border text-primary" role="status" style="display: none;" id="osw-loader">
      <span class="sr-only">Loading...</span>
    </div>
    <form class="form-row">
      <div class="form-group col-9 blm-email-input-col">
        <input type="email" class="form-control" id="osw-subscribe-email-input" aria-describedby="emailHelp" placeholder="your@email.com">
      </div>
      <div class="form-group col-3">
        <button id="osw-subscribe-button-input">Subscribe</button>
      </div>

      <small class="form-text text-muted">We hate spam even more than you do.
        We'll never share your email and you can unsubscribe at anytime. Also there is no tracking or ads.
      </small>
    </form>

    <p>
      <small>
        Prefer <b>RSS</b>? <a href='{{ "index.xml" | absURL }}'>Use this URL in your favorite RSS reader</a>.
      </small>
      <br/>
      <small>
        Prefer <b>Mastodon</b>? <a href="https://social.kerkour.fr/@Sylvain">Follow @sylvain@kerkour.fr to never miss an issue</a>.
      </small>
    </p>

  </div>
</div>

<script type="application/javascript">
  function subscribeToNewsletter(email) {
    showLoader();
    hideAlert();

    var query = 'mutation($input: SubscribeContactInput!) { subscribeContact(input: $input) }';
    var variables = {
      input: {
        projectId: window.shibuiProjectId,
        email: email,
      },
    };
    graphqlReq(query, variables)
    .done(function(data) {
      if (data.errors && data.errors.length > 0) {
        displayError(data.errors[0].message);
        return ;
      }
      window.location.href = '/confirm';
    })
    .fail(function() {
      displayError('Error subscribing. Please try again.');
    })
    .always(function() {
      hideLoader();
    })
  }

  $(document).ready(function() {
    hideLoader();
    $("#osw-subscribe-button-input").click(function(e) {
      e.preventDefault();
      subscribeToNewsletter($('#osw-subscribe-email-input').val());
    });
  });
</script>
