{{ define "main" }}
<div>
  {{ partial "subscribe.html" . }}

  <div>
    <div>
      <p>
    While developing <a href="https://gitlab.com/bloom42/bloom" target="_blank" rel="noopener">Bloom</a>
    I realized how much I love open source. So I decided to share this passion with the world. Whether it be in software, in hardware, in education, in ecology, in science or in agriculture, open source have proved its superiority.
    <br /><br />

    However it's very difficult to find interesting and quality content in this ocean: just GitHub had over
    <a href="https://github.blog/2018-11-08-100m-repos/" target="_blank" rel="noopener">100M repositories in 2018</a> 🤔
    <br/><br/>

    This is why I created the Open Source Weekly letter: the best projects, people
    and articles on open source, curated by hand.
    <br/><br/>

    Whether you want to make your first contribution, discover interesting projects or people, I will do my best to satisfy you.
    <br/>
    I believe we are just at the beginning of the open source revolution and this is my contribution to spread its greatness.
    <br/><br/>

    by <a href="https://kerkour.fr" target="_blank" rel="noopener">Sylvain Kerkour</a>
    <br />

    Want to contribute? Feel free to open a ticket
    <a href="https://gitlab.com/bloom42/open_source_weekly/issues" target="_blank" rel="noopener">on Gitlab</a>.
      </p>
    </div>
  </div>

  <div>
    <div>

      <div>
        <h1 id="past-issues">Past Issues</h1>
      </div>


      <div class="mt-3">
        {{ $types := slice "" }}
        {{ $paginator := .Paginate (where (where .Site.Pages "Type" "post") "IsPage" true) }}
        {{ partial "posts.html" . }}
      </div>

    </div>
  </div>
</div>

{{ end }}
